<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            http-equiv="content-security-policy"
            content="default-src 'none'; font-src 'self'; connect-src 'self'; img-src 'self'; script-src 'sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ'; style-src 'self'"
        />
        <meta name="htmx-config" content='{"allowEval":false,"includeIndicatorStyles":false}' />
        <script
            src="https://unpkg.com/htmx.org@2.0.2"
            integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
            crossorigin="anonymous"
        ></script>
        <link rel="icon" href="/assets/icon.png" />
        <link rel="stylesheet" href="./board.css" />
        <link rel="stylesheet" href="./win.css" />
        <title>Static HTMX Connect 4</title>
    </head>
    <body>
        <h1>Static HTMX Connect 4</h1>
        <p>
            This is a game of Connect 4, with the only JavaScript being that of HTMX, and on a
            static host. All other JavaScript is disallowed by the CSP (in a meta tag since I can't
            control headers on GitHub Pages). Check with Right Click &rarr; View Source!
        </p>
        <p>
            Note that a lot of the functionality is implemented through CSS. Your browser needs to
            support the <code>:has</code> selector for things like win detection to work. I'll make
            a post on my <a href="/blog/">blog</a> explaining how this works soon.
        </p>

        <!--
            Tokens are added by clicking on the drop-zone `div`s overlaid atop the board.
            When the game is over or the corresponding columns are full, they're disabled by setting their `pointer-events` to `none`.
        -->
        <div id="board" hx-sync="#board:drop" hx-target="#first-drop-region" hx-swap="beforebegin">
            <div
                class="drop-region col1"
                id="first-drop-region"
                hx-trigger="click"
                hx-get="./token-1.html"
            ></div>
            <div class="drop-region col2" hx-trigger="click" hx-get="./token-2.html"></div>
            <div class="drop-region col3" hx-trigger="click" hx-get="./token-3.html"></div>
            <div class="drop-region col4" hx-trigger="click" hx-get="./token-4.html"></div>
            <div class="drop-region col5" hx-trigger="click" hx-get="./token-5.html"></div>
            <div class="drop-region col6" hx-trigger="click" hx-get="./token-6.html"></div>
            <div class="drop-region col7" hx-trigger="click" hx-get="./token-7.html"></div>
        </div>
        <!-- This element is only used for its ::after. -->
        <div id="status"></div>
    </body>
</html>
